<!Doctype html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<link rel="stylesheet" type="text/css" href="Styling.css">
<title>About</title>
</head>
<body>
<ul class="ListClass">
  <li class="ListElemClass"><a href="home">Home</a></li>
    <li class="ListElemClass"><a href="registration" style="z-index: 999;">Registration</a></li>
    <li class="ListElemClass"><a href="participants" style="z-index: 999;">Participants</a></li>
    <li class="ListElemClass"><a href="about" style="z-index: 999;">About</a></li>
</ul> 
<h1>Extreme Ultra</h1>
<h2>Trail Map</h2>
<img src="trail.png" width="720px" height="480px"></img>
<p>Hardanger Jøkulen Ultra started in 2011 and was created by several ultra run enthusiasts.</p>
<p><bold>© Hardanger Ultra As</bold></p>
</body>
</html>