<!Doctype html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<link rel="stylesheet" type="text/css" href="Styling.css">
<title>Home</title>
</head>
<body>
<ul class="ListClass">
  <li class="ListElemClass"><a href="home">Home</a></li>
    <li class="ListElemClass"><a href="registration" style="z-index: 999;">Registration</a></li>
    <li class="ListElemClass"><a href="participants" style="z-index: 999;">Participants</a></li>
    <li class="ListElemClass"><a href="about" style="z-index: 999;">About</a></li>
</ul> 
<h1>Extreme Ultra</h1>
<h2>Hardanger Jøkulen 2020</h2>
<img src="ultra.jpg" width="720px" height="480px"></img>
<p>Hardanger Jøkulen Ultra is an ultra marathon quite unlike any other! Taking place among the beautiful mountains and fjords of Hardanger 
<br>the race combines a hardcore mountain climb of a marathon with the best views of Norwegian nature.</p>
<ul>
<li>100km with 3200 climbing meters</li>
<li>Beautiful vistas along the hike</li>
<li>Hot food at Finse</li>
<li>Feet and body checkups along the way</li>
<li>Personal that walk the route and make sure everyone is healthy and well</li>
</ul>
<p><bold>© Hardanger Ultra As</bold></p>
</body>
</html>