<!Doctype html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<link rel="stylesheet" type="text/css" href="Styling.css">
<title>Signup Complete</title>
</head>
<body>
<ul class="ListClass">
  <li class="ListElemClass"><a href="home">Home</a></li>
    <li class="ListElemClass"><a href="registration" style="z-index: 999;">Registration</a></li>
    <li class="ListElemClass"><a href="participants" style="z-index: 999;">Participants</a></li>
    <li class="ListElemClass"><a href="about" style="z-index: 999;">About</a></li>
</ul> 
<h1>Signup complete!</h1>
<p><bold>© Hardanger Ultra As</bold></p>
</body>
</html>